<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>Keyboard Layout Optimizer</h1>
    <form action="/" method="post" class="cont">
        <div class="card">
            <h2>Recuit Simulé</h2>
            <table>
                <tbody>
                    {% for i in range_4 %}
                    <tr>
                        {% for j in range_10 %}
                        <td>{{ config_recuit[i][j]}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>Valeur finale de la fonction objectif: {{rec_val}}</p>
            <label for="recuit_iter">Nombre d'itérations:</label>
            <input type="number" name="recuit_iter" id="" max="10000" value="{{recuit_iterations}}">
            <label for="recuit_temp">Température de départ:</label>
            <input type="number" name="recuit_temp" id="" value="{{recuit_temperature}}">

        </div>

        <div class="card">
            <h2>Algorithme Génétique</h2>
            <table>
                <tbody>
                    {% for i in range_4 %}
                    <tr>
                        {% for j in range_10 %}
                        <td>{{ config_genetique[i][j]}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>Valeur finale de la fonction objectif: {{gen_val}}</p>
            <label for="genetic_iter">Nombre de générations:</label>
            <input type="number" name="genetic_iter" id="" max="10000" value="{{gen_iterations}}">
            <label for="genetic_popsize">Taille de la population:</label>
            <input type="number" name="genetic_popsize" id="" value="{{gen_popsize}}">
            <label for="genetic_mutation">Probabilité de mutation:</label>
            <input type="number" name="genetic_mutation" id="" min="0" max="1" step="0.01" value="{{gen_mutprob}}">

        </div>
        <div class="card">
            <h2>Recherche Tabou</h2>
            <table>
                <tbody>
                    {% for i in range_4 %}
                    <tr>
                        {% for j in range_10 %}
                        <td>{{ config_tabou[i][j]}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>Valeur finale de la fonction objectif: {{tab_val}}</p>
            <label for="taboo_iter">Nombre d'itérations:</label>
            <input type="number" name="taboo_iter" id="" max="10000" value="{{taboo_iterations}}">
            <label for="taboo_size">Taille de la liste tabou:</label>
            <input type="number" name="taboo_size" id="" value="{{taboo_taille}}">

        </div>
        <div class="full-line"><input type="submit" value="Start"></div>
    </form>
</body>

</html>